<html>
<body>	
	<ul>
		<% @files.each do |file| %>
		<li><a href="/<%= file %>"><%= file %></li>
		<% end %>
	</ul>
	
	
	<% if params[:sort] == "desc" %>
		<a href="/">Ascending</a>
	<% else %>
		<a href="/?sort=desc">Descending</a>
	<% end %>
	
</body>
</html>

